<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"></meta>
  <title>Upload Status</title>

  <!-- css -->
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- Theme skin -->
  <link id="t-colors" href="color/default.css" rel="stylesheet" />
</head>

<body>
  <div id="wrapper">
    <!-- start header -->
    <header>
      <div class="top">
        <div class="container">
          <div class="row">
          </div>
        </div>
      </div>
      <div class="container">

            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- section intro -->
    <section id="intro">
      <div class="intro-content">
        <h2>Overarching Graphs</h2>
       
<div th:if="${msg}">
    <span th:text="${msg}"></span>
  </div>
 <form action="/choice"  method="post" th:object="${ipt}" name="myform" onsubmit ="return validateForm()">
 <h3>Provide your precedence here</h3>
<input type="text" th:field="*{text}" id = "tid" placeholder= "give your yml files here in order" width="55" height="55"/><br/>
<script type="text/javascript">
function validateForm(){
var x = document.forms["myform"] ["tid"].value;
if(x == "" || x == null){
alert("Precedence must be given!!");
return false;
}
}

</script>
<button type="submit" class="btn-get-started scrollto" >Submit</button>
   
    </form>
       
      </div>
    </section>
    <!-- /section intro -->

    <section id="content">
      <div class="container">
<br>
<br>
<br>
<center>

        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-info badge-circled">1</span>
                    <i class="ico icon-dropbox icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Upload yaml Files</strong></h4>
                    <p>
                      Choose and upload your yaml files for Graph Visualization
                    </p>
                  </div>
                </div>
              </div>

              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-success badge-circled">2</span>
                    <i class="ico icon-bitbucket icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Give Precedence</strong></h4>
                    <p>
                      Give sequence for your uploaded files for merging
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-warning badge-circled">3</span>
                    <i class="ico icon-rocket icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Merging</strong></h4>
                    <p>
                      Merge Your uploaded files
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-important badge-circled">4</span>
                    <i class="ico icon-cut icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Visualization</strong></h4>
                    <p>
                     See how your uploaded files in the form of graph!!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


       
</body>

</html>

